
body{
   background-color: ghostwhite;
}
h1{
    font-size: 30px;
    font-family: 'Notable' , sans-serif;
}
.name-highlight{
   color: darkorange ; 
}
.first{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 5%;
}
.first img{
    width: 100%;
}