
body{
   background-color: ghostwhite;
   margin: 0px;
}
h1{
    font-size: 30px;
    font-family: 'Notable' , sans-serif;
}
.name-highlight{
   color: darkorange ; 
}
.first{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 5%;
}
.first img{
    width: 95%;
}
.top-banner{
    background-image:url("images/top-banner.png") ;
    background-repeat: no-repeat;

}
section{
    height: 500px;
}